PruebaC/Service References/ServicioEmpleado/WCFEmpleado2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Managerr.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Managerr.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DTOEmpleado">
    <xs:sequence>
      <xs:element minOccurs="0" name="DescripcionRol" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdEmpleado" type="xs:int" />
      <xs:element minOccurs="0" name="IdEntregas" type="xs:int" />
      <xs:element minOccurs="0" name="IdMes" type="xs:int" />
      <xs:element minOccurs="0" name="IdRol" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fBono" type="xs:double" />
      <xs:element minOccurs="0" name="fEntregas" type="xs:double" />
      <xs:element minOccurs="0" name="fISR" type="xs:double" />
      <xs:element minOccurs="0" name="fSalario" type="xs:double" />
      <xs:element minOccurs="0" name="fTotalBono" type="xs:double" />
      <xs:element minOccurs="0" name="fTotalEntregas" type="xs:double" />
      <xs:element minOccurs="0" name="fTotalGeneral" type="xs:double" />
      <xs:element minOccurs="0" name="fTotalGeneralConISR" type="xs:double" />
      <xs:element minOccurs="0" name="fTotalSalario" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DTOEmpleado" nillable="true" type="tns:DTOEmpleado" />
  <xs:complexType name="ArrayOfDTOEmpleado">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DTOEmpleado" nillable="true" type="tns:DTOEmpleado" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDTOEmpleado" nillable="true" type="tns:ArrayOfDTOEmpleado" />
</xs:schema>