PruebaC/Service References/ServicioEmpleado/WCFEmpleado1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:65052/WCFEmpleado.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Managerr.DTO" />
  <xs:element name="DoWork">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWorkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardaEMpleados">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Managerr.DTO" minOccurs="0" name="datos" nillable="true" type="q1:DTOEmpleado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardaEMpleadosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GuardaEMpleadosResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>