PruebaC/Service References/ServiceReference1/WCFCatalogo.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="/Imports">
      <xsd:import schemaLocation="http://localhost:65052/WCFCatalogo.svc?xsd=xsd0" />
      <xsd:import schemaLocation="http://localhost:65052/WCFCatalogo.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:65052/WCFCatalogo.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Managerr.DTO" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="WCFCatalogo_DoWork_InputMessage">
    <wsdl:part name="parameters" element="DoWork" />
  </wsdl:message>
  <wsdl:message name="WCFCatalogo_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="WCFCatalogo_ConsultaEmpleado_InputMessage">
    <wsdl:part name="parameters" element="ConsultaEmpleado" />
  </wsdl:message>
  <wsdl:message name="WCFCatalogo_ConsultaEmpleado_OutputMessage">
    <wsdl:part name="parameters" element="ConsultaEmpleadoResponse" />
  </wsdl:message>
  <wsdl:message name="WCFCatalogo_ConsultaROles_InputMessage">
    <wsdl:part name="parameters" element="ConsultaROles" />
  </wsdl:message>
  <wsdl:message name="WCFCatalogo_ConsultaROles_OutputMessage">
    <wsdl:part name="parameters" element="ConsultaROlesResponse" />
  </wsdl:message>
  <wsdl:message name="WCFCatalogo_ConsultaIdNuevoEMpleado_InputMessage">
    <wsdl:part name="parameters" element="ConsultaIdNuevoEMpleado" />
  </wsdl:message>
  <wsdl:message name="WCFCatalogo_ConsultaIdNuevoEMpleado_OutputMessage">
    <wsdl:part name="parameters" element="ConsultaIdNuevoEMpleadoResponse" />
  </wsdl:message>
  <wsdl:portType name="WCFCatalogo">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="urn:WCFCatalogo/DoWork" message="WCFCatalogo_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="urn:WCFCatalogo/DoWorkResponse" message="WCFCatalogo_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultaEmpleado">
      <wsdl:input wsaw:Action="urn:WCFCatalogo/ConsultaEmpleado" message="WCFCatalogo_ConsultaEmpleado_InputMessage" />
      <wsdl:output wsaw:Action="urn:WCFCatalogo/ConsultaEmpleadoResponse" message="WCFCatalogo_ConsultaEmpleado_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultaROles">
      <wsdl:input wsaw:Action="urn:WCFCatalogo/ConsultaROles" message="WCFCatalogo_ConsultaROles_InputMessage" />
      <wsdl:output wsaw:Action="urn:WCFCatalogo/ConsultaROlesResponse" message="WCFCatalogo_ConsultaROles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultaIdNuevoEMpleado">
      <wsdl:input wsaw:Action="urn:WCFCatalogo/ConsultaIdNuevoEMpleado" message="WCFCatalogo_ConsultaIdNuevoEMpleado_InputMessage" />
      <wsdl:output wsaw:Action="urn:WCFCatalogo/ConsultaIdNuevoEMpleadoResponse" message="WCFCatalogo_ConsultaIdNuevoEMpleado_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>