PruebaC/Service References/ServiceReference1/WCFCatalogo1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:65052/WCFCatalogo.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Managerr.DTO" />
  <xs:element name="DoWork">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWorkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultaEmpleado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultaEmpleadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Managerr.DTO" minOccurs="0" name="ConsultaEmpleadoResult" nillable="true" type="q1:DTOEmpleado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultaROles">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultaROlesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Managerr.DTO" minOccurs="0" name="ConsultaROlesResult" nillable="true" type="q2:ArrayOfDTOGenerico" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultaIdNuevoEMpleado">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultaIdNuevoEMpleadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConsultaIdNuevoEMpleadoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>