PruebaC/Service References/ServiceReference1/WCFCatalogo.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Managerr.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Managerr.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DTOEmpleado">
    <xs:sequence>
      <xs:element minOccurs="0" name="DescripcionRol" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdEmpleado" type="xs:int" />
      <xs:element minOccurs="0" name="IdRol" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DTOEmpleado" nillable="true" type="tns:DTOEmpleado" />
  <xs:complexType name="ArrayOfDTOGenerico">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DTOGenerico" nillable="true" type="tns:DTOGenerico" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDTOGenerico" nillable="true" type="tns:ArrayOfDTOGenerico" />
  <xs:complexType name="DTOGenerico">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DTOGenerico" nillable="true" type="tns:DTOGenerico" />
</xs:schema>